@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

/* @font-face {
  font-family: JimmyScript;
  src: url(../fonts/JimmyScript-Rg.otf);
}
@font-face {
  font-family: IndahScript;
  src: url(../fonts/IndahScript.otf);
}
@font-face {
  font-family: Shelly;
  src: url(../fonts/Shelly.otf);
} */
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Scroll */

::-webkit-scrollbar {
  width: 7px;
  margin-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6A6A6A;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757575;
}


body {
  background-color: #212222;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  margin-bottom: 50px;
}

.navigation2 {
  padding: 15px;
  width: 100%;
  display: flex;
  background-color: #181818;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  border-bottom: 5px solid #e87374;
  top: -100px;
  /* Initially hide the navigation */
  transition: top 0.3s ease;
  /* Add transition for smooth animation */
  align-items: center;
}

.navigation {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-visible {
  top: 0;
  /* Show the navigation when it's scrolled into view */
}

.position {
  position: fixed !important;
}

.hamburger,
.hamburger2 {
  display: none;
  cursor: pointer;
  right: 30px;
  position: relative;
  z-index: 999999;
}

.bar {
  display: block;
  width: 1.5625rem;
  height: 3px;
  border-radius: 1rem;
  margin: .3125rem auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #fff;
}

.h-link {
  display: none;
}

.sidenav, .sidenav2 {
  display: none;
}

@media only screen and (max-width: 1255px) {
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .hero-right {
    padding-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-img {
    margin: 0 !important;
    width: 50vw !important;
  }

  .hero-left {
    align-items: center;
  }

  .hero-text {
    width: 200% !important;
    text-align: center;
  }

  .text-animation {
    min-width: 522.7px !important;
  }

  .hero-btn-container {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
}

.no-scroll {
  overflow: hidden;
}

@media only screen and (max-width: 1335px) {
  .hamburger {
    display: block;
    margin-right: 20px;
  }

  .hamburger2 {
    display: block;
    margin-right: 20px;
    position: fixed;
  }

  .hamburger:hover,
  .hamburger2:hover {
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2),
  .hamburger2.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1),
  .hamburger2.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3),
  .hamburger2.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .sidenav,
  .sidenav2 {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    background-color: #181818;
    text-align: center;
    justify-content: center;
    transition:  1s ease-in-out;
    z-index: 53;
    height: 100%;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-left: 5px solid #e87374;
  }

  .sidenav .nav-links,
  .sidenav2 .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:  1s ease-in-out;
  }

  .h-link {
    display: block;
  }

  .nav-link, .dd-nav-link {
    margin: 16px 0;
  }

  .sidenav.active,
  .sidenav2.active {
    right: 0;
    visibility: visible;
    transition: .4s ease-in-out;
  }




  .real-nav .nav-links {
    display: none;
  }

  .sidenav2.active .nav-links, .sidenav.active .nav-links {
    display: flex;
  }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 50;
  /* Ensure it's above other content */
  display: none;
  /* Initially hidden */
}

.nn-link {
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: 700;
}

.nav-highlight {
  color: #e87374;
  text-shadow: 0 0 25px #e87374;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link, .tp-dd, .sl-dd, .pr-dd {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 500;
  margin: 0 15px;
  transition: .5s ease-in-out;
}

.pr-dd-c {
  right: 10;
}

.dd-nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 500;
  transition: .5s ease-in-out;
}

.nav-link {
  transform: translateY(1.9px);
}

.nav-links .nav-link::after {
  content: "";
  background-color: #e87374;
  display: flex;
  width: 100%;
  left: 0%;
  height: 2px;
  transition: transform ease-in-out .5s;
  transform-origin: center;
  transform: scaleX(0);
  position: relative;
}

.nav-links .nav-link:hover, .dd-nav-link:hover {
  color: #e87374;
}

.nav-links .nav-link:hover::after {
  transform: scaleX(1);
}


.sl-dd:hover .sl-dd-c,
.tp-dd:hover .tp-dd-c,
.pr-dd:hover .pr-dd-c {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out;
  /* Updated transition */
  transform: translateY(0);
}



.sl-dd-c,
.tp-dd-c,
.pr-dd-c {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  max-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
  transform: translateY(100px);
  transition: 0.4s ease-in-out;
  /* Updated transition */
}


.sl-dd-c a,
.tp-dd-c a,
.pr-dd-c a {
  display: block;
  padding: .625rem;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: normal;
  color: #000;
  /* Adjust as per your design */
  transition: background-color 0.2s ease-in-out;
}

.sn-sl-dd-c,
.sn-tp-dd-c,
.sn-pr-dd-c {
  display: none;
  background-color: #262626;
  min-width: 160px;
  max-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 0;
  border-radius: 15px;
  transition: max-height 0.4s ease-out; /* Added transition for max-height */
  overflow: hidden; /* Hide overflow to avoid flickering */
}

.sn-dd.open .sn-sl-dd-c,
.sn-dd.open .sn-tp-dd-c,
.sn-dd.open .sn-pr-dd-c {
  display: block;
  max-height: 500px; /* Adjust as needed */
}


.sn-sl-dd-c a,
.sn-tp-dd-c a,
.sn-pr-dd-c a {
  display: block;
  padding: .625rem;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fff;
  /* Adjust as per your design */
  transition: 0.4s ease-in-out;
}

.sn-sl-dd-c a:hover,
.sn-tp-dd-c a:hover,
.sn-pr-dd-c a:hover {
  background-color: #dad6d6;
  color: #000;
  /* text-decoration: underline; */
  /* Adjust as per your design */
}

/* SIde Nav */

.sn-nn-link {
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: 700;
}

.sn-nav-highlight {
  color: #e87374;
  text-shadow: 0 0 25px #e87374;
}

.sn-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sn-nav-link {
  font-size: 1.35rem;
  text-decoration: none;
  font-weight: 500;
  margin: 0 15px;
  transition: .5s ease-in-out;
}

.pr-dd-c {
  right: 10;
}

.sn-dd-nav-link {
  font-size: 1.35rem;
  text-decoration: none;
  font-weight: 500;
  transition: .5s ease-in-out;
}

.sn-nav-link {
  transform: translateY(1.9px);
}

.sn-nav-links .sn-nav-link::after {
  content: "";
  background-color: #e87374;
  display: flex;
  width: 100%;
  left: 0%;
  height: 2px;
  transition: transform ease-in-out .5s;
  transform-origin: center;
  transform: scaleX(0);
  position: relative;
}

.sn-nav-links .sn-nav-link:hover, .sn-dd-nav-link:hover {
  color: #e87374;
}

.sn-nav-links .sn-nav-link:hover::after {
  transform: scaleX(1);
}

.dd {
  display: none;
}

.sn-dd.open .dd
 {
  display: block;
}


/* O///////////////////////uwu/////////////////////O */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: #181818;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-bottom: 5px solid #e87374;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  /* Adjust as per your need */
  align-items: center;
  width: 80%;
  margin-top: 30px;
  padding: 0rem 5rem;
  /* Adjust as per your need */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "";
  color: #e87374;
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: #212222;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid #e87374;
  right: -8px;
  animation: cursor .6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  0%, 100% {
    border-left: 3px solid #e87374;
  }

  50% {
    border-left: 3px solid transparent;
  }
}

@keyframes words {
  0%, 20% {
    content: "Educator.";
  }

  21%, 40% {
    content: "Mother Of Three.";
  }

  41%, 60% {
    content: "Previous Daycare Owner.";
  }

  61%, 80% {
    content: "Masters Degree Teacher.";
  }

  81%, 100% {
    content: "Amazing Person.";
  }
}


@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }

  5%, 20%, 25%, 40%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }

}



.hero-left {
  flex: 1;
  padding: 20px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Align items in the center vertically */
}

.hero-img {
  width: 25vw;
  margin-left: 90px;
  border-radius: 50%;
  box-shadow: 0 0 25px #e87374, 0 0 50px #e87374, 0 0 75px #e87374;
  cursor: pointer;
  transition: .4s ease-in-out;
  align-self: center;
  animation: bounce 2s 1s infinite;
  margin-right: 50px;
}

.hero-left .hero-hook {
  font-size: 3rem;
  white-space: nowrap;
}

/* 
.hero-hook span {
  font-family: 'Style Script', cursive;
} */

/* .hero-left .hero-hook-btm {
  font-size: 1.8rem;
  margin-bottom: 5px;
} Removed */

.highlight {
  color: #e87374;
}

.hero-text {
  line-height: 1.5rem;
  margin-bottom: 15px;
  width: 120%;
  text-align: justify;
}

.hero-btn-container {
  display: flex;
  transform: translateX(-.625rem);
  margin-top: 20px;
}

.hero-btn {
  background-color: #e87374;
  display: flex;
  border: 1px solid transparent;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: 1s;
  touch-action: manipulation;
  width: auto;
  margin-right: .625rem;
  margin-left: .625rem;
  box-shadow: 0 0 25px #e87374;
}

.hero-btn2 {
  background-color: #181818;
  display: flex;
  border-radius: .75rem;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: 1s;
  touch-action: manipulation;
  width: auto;
  margin-right: .625rem;
  margin-left: 30px;
  border: 2px solid #e87374;
  color: #e87374;
}

.avg-btn {
  background-color: #212222;
  display: flex;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: 1s;
  touch-action: manipulation;
  margin: auto;
  border: 3.5px solid #e87374;
  width: max-content;
  text-decoration: none;
  justify-content: center;
}

.hero-btn:hover, .hero-btn2:hover, .avg-btn:hover {
  transform: translateY(-.625rem);
}


.hero-right {
  flex: 1;
  padding: 20px;
  padding-left: 8rem;
  max-width: 50%;
  /* Adjust as per your need */
}

.hero-img:hover {
  box-shadow: 0 0 25px #e87374, 0 0 50px #e87374, 0 0 75px #e87374, 0 0 100px #e87374, 0 0 125px #e87374, 0 0 150px #e87374;
  transform: translateY(-.625rem);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-.625rem);
  }
}

.hero-scroll {
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 125px;
  font-weight: 600;
  animation: bounce 4s 2s infinite;
  text-shadow: 0 0 .625rem rgba(232, 115, 116, 0.8);
}

.sec-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 50px;
  text-align: center;
}

.about {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideshow {
  width: 80%;
  height: auto;
  background-color: #181818;
  border-radius: 8px;
  box-shadow: 0 0 50px #e87374;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about-content {
  display: flex;
  justify-content: center;
  /* Center the content horizontally */
  width: 60%;
  margin-top: 100px;
}

.philosophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the content vertically */
}

.p-st {
  font-size: 3rem;
  text-decoration: underline;
  font-weight: 800;
  text-align: center;
}

.p-t-c {
  display: flex;
  justify-content: center;
}

.philosphy-text {
  line-height: 1.5rem;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 140%;
  text-align: justify;
  background-color: #181818;
  border-radius: 20px;
  padding: 35px;
  border: 5px solid #e87374;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 232344343431;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000b3;
}

.modal-content {
  background-color: #181818;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  /* Set border radius */
  width: 80%;
  max-width: 750px;
  /* Adjust the maximum width as needed */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: .4s ease-in-out;
}

hr {
  border: 1px solid #d6d3d3;
  margin: 20px
}

.ref {
  /* text-decoration: underline; */
  color: #e87374;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.modal-content ul li {
  margin: 20px;
}

.parents {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-s {
  line-height: 1.5rem;
  margin-bottom: 15px;
  width: 70%;
  text-align: justify;
  background-color: #181818;
  border-radius: 20px;
  padding: 35px;
  border: 5px solid #e87374;
}

.p-s-l {
  /* text-decoration: underline; */
  color: #e87374;
  cursor: pointer;
}

.p-o-i-l {
  border-radius: 20px;
  float: left;
  shape-outside: polygon(0px 0px, 93.37% -0.01%, 91.13% 98.42%, 0.25% 97.42%);
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.p-o-i-r {
  border-radius: 20px;
  float: right;
  shape-outside: polygon(14px 2px, 17% 1.26%, 100.96% 8.28%, 94.86% 99.64%, 18.11% 98.8%, 8.72% 84.13%, 6.83% 63.55%);
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 2.12rem;
}

.p-t-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
  max-width: 800px;
  /* Adjust max-width as needed */
}

.p-s-t {
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 50px;
}

.p-info {
  display: flex;
  align-items: center;
  /* Center items vertically */
  border: 5px solid #e87374;
  /* Add border */
  padding: 20px;
  background-color: #181818;
  border-radius: 20px;
}

.p-i-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-i-t {
  /* text-align: center; */
  text-decoration: underline;
  font-size: 2rem;
  text-align: center;
  margin-bottom: .5rem;
}

.s-a {
  border-radius: .625rem;
  height: 300px;
  /* Adjust height as needed */
  /* Add margin for spacing */
  transition: .4s ease-in-out;
}

.s-a:hover {
  transform: scale(1.035);
  transition: .4s ease-in-out;
}

.p-s {
  flex: 1;
  /* Take remaining space */
  font-size: 1.2rem;
  /* Adjust font size as needed */
  line-height: 1;
  /* Adjust line height as needed */
  padding: 15px;
  /* Add padding for spacing */
}

.v-l {
  border-left: 2px solid #e87374;
  /* Add vertical line */
  height: 400px;
  margin-right: 20px;
  margin-left: 40px;
  /* Adjust spacing between image and line */
}

.ex-s-t {
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 6.25rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

.ex-c {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.ex-l {
  color: #e87374;
}

.ex-1-c {
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  padding: 1rem;
  /* ask about padding */
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
}

.img-modal.show {
  display: flex;
  opacity: 1;
  /* Fade in */
}

.image-container img {
  width: calc((100% - 5 * 0.625rem) / 5);
  /* Calculate width based on number of images */
  height: 16rem;
  /* Maintain aspect ratio */
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.035);
}


.img-modal {
  display: none;
  position: fixed;
  z-index: 232344343431;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.i-m-c {
  background-color: #181818;
  border-radius: 15px;
  position: relative;
  height: 85%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 32rem;
}

.img {
  flex: 1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.i-c {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: .625rem;
  right: 20px;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.i-c:hover,
.i-c:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.blurb {
  color: #fff;
  font-size: 1rem;
  background-color: #222;
  padding: .625rem;
  width: 100%;
  align-self: flex-end;
}

.ex-2-c {
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  padding: 1rem;
  width: 30rem;
}

.ex-btm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ex-2-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .625rem;
}

.ex-2-image-container img {
  width: 100%;
  /* Take full width of grid cell */
  height: 16rem;
  /* Maintain aspect ratio */
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.ex-2-image-container img:hover {
  transform: scale(1.035);
}


.sl {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sl-s-c {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sl-s-c-i-c {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-s-c-i-c img {
  border-radius: 15px;
  transition: .4s ease-in-out;
}

.sl-s-c-i-c img:hover {
  transform: scale(1.035);
  transition: .4s ease-in-out;
}

.sl-s-t {
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 6.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sl-s {
  line-height: 1.5rem;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 80%;
  text-align: justify;
  background-color: #181818;
  border-radius: 20px;
  padding: 35px;
  border: 5px solid #e87374;
}

.sl-p-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.a-c {
  margin-bottom: 15px;
  margin-top: 30px;
  width: 80%;
  /* text-align: center; */
  background-color: #181818;
  border-radius: 20px;
  padding: 35px;
  border: 5px solid #e87374;
}

.sl-as-s {
  text-align: justify;
}

.rb-btns {
  display: flex;
  justify-content: space-around;
}

.sl-as-s blockquote {
  margin-left: 50px;
  /* Added */
}

/* Optional: Adjustments for blockquote styling */
.sl-as-s blockquote {
  background-color: #f9f9f9;
  color: #000;
  border-left: 6px solid #e87374;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: justify;
}

.sl-as-s blockquote b {
  color: #000;
  text-decoration: underline;
}

.sl-i-c {
  display: flex;
  justify-content: space-between;
  background-color: #181818;
  border-radius: .9375rem;
  padding: .8rem;
  border: 5px solid #e87374;
  justify-content: space-around;
}

.sl-i-c img {
  transition: 0.3s ease;
  border-radius: 15px;
  width: 41%;
}

.sl-i-c-2 {
  display: flex;
  justify-content: center;
  background-color: #181818;
  border-radius: .9375rem;
  padding: .16rem;
  border: 5px solid #e87374;
  width: 64%;
}

.sl-i-c-2 img {
  transition: 0.3s ease;
  border-radius: 15px;
  width: calc((100% - 4 * 0.625rem) / 3);
  margin: 1rem;
}

.sl-i-c img:hover, .sl-i-c-2 img:hover {
  transition: 0.3s ease;
  transform: scale(1.035);
}

.sl-slider {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sl-slider {
  background-color: #212222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 300px; */
  /* border: solid 5px #6B7280; */
}


.sl-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 3.75rem;
  margin-top: 6.25rem;
}

.sl-pagination .swiper-pagination-bullet {
  padding: 15px .625rem;
  border-radius: 0;
  width: auto;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 32px;
  font-weight: 500;
  background-color: transparent;
  opacity: 1;
  color: #6B7280;
  transition: ease-in-out .5s;
}

.sl-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  color: #e87374;
  transition: ease-in-out .5s;
}

.index0:after {
  content: '';
  height: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
  background: currentColor;
}

.index1:after {
  content: '';
  height: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
  background: currentColor;
}

.index2:after {
  content: '';
  height: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 2px;
  background: currentColor;
}

.pagination {
  text-decoration: none;
}

.pagination:hover {
  color: #e87374;
  transform: translateY(-.625rem);
}

.sl-slider-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-s-t-2 {
  text-decoration: underline;
  font-size: 3em;
  font-weight: 700;
  margin-top: 6.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sl-s-s-t {
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 6.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sl-s1-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sl-s1-list {
  background-color: #181818;
  border-radius: .9735rem;
  width: 80%;
  padding: 1rem 2rem;
  border: 5px solid #e87374;
}

.pdf-c {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  height: 40rem;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
}

.pdf-c embed {
  width: 100%;
  height: 100% !important;
}

.brief-exp {
  background-color: #181818;
  border: 5px solid #e87374;
  border-radius: 1rem;
  padding: 1rem;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  text-align: justify;
}

.brief-exp h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.brief-exp ul li b {
  color: #e87374;
}

.brief-exp ul {
  margin-top: .875rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ris {
  background-color: #181818;
  padding: 1.5rem;
  border-radius: .9735rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  border: 5px solid #e87374;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  text-align: justify;
}

.ris-ex-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ris h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.ris b {
  color: #e87374
}

.ris img {
  width: calc((100% - 4 * 0.625rem) / 1);
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* Adjust based on the number of images per row and gap */
  height: 16rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.ris img:hover {
  transform: scale(1.035);
}

.sl-sw-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-ig-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  width: 100%;
  padding: 1rem;
}

.sl-ig-c img {
  width: calc((100% - 4 * 0.625rem) / 4);
  /* Adjust based on the number of images per row and gap */
  height: 16rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.sl-ig-c img:hover {
  transform: scale(1.035);
}

.sl-asi-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  width: 60%;
  padding: 1rem;
  margin: auto;
  margin-top: 3rem;
}

.sl-asi-c h2 {
  text-decoration: underline;
  text-align: center;
}

.sl-asi-c img {
  width: calc((100% - 4 * 0.625rem) / 3);
  /* Adjust based on the number of images per row and gap */
  height: 16rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.sl-asi-c img:hover {
  transform: scale(1.035);
}

.sl-wqi-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.sl-wq-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  width: 60%;
  padding: 1rem;
  margin: auto;
  margin-top: 3rem;
}

.sl-wq-c h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1.2rem;
}

.sl-wqi-c img {
  width: calc((100% - 4 * 0.625rem) / 3);
  /* Adjust based on the number of images per row and gap */
  height: 16rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.sl-wqi-c img:hover {
  transform: scale(1.035);
}

.sw-ig-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  width: 100%;
  padding: 1rem;
}

.sw-ig-c img {
  width: calc((100% - 7 * 0.625rem) / 5);
  /* Adjust based on the number of images per row and gap */
  height: 16rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.sw-ig-c img:hover {
  transform: scale(1.035);
}


.sl-s2-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sl-s2-list {
  background-color: #181818;
  border-radius: .9735rem;
  width: 80%;
  padding: 1rem 2rem;
  border: 5px solid #e87374;
}

.sl-s-t-3 {
  text-decoration: underline;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 6.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sl-s3-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sl-s3-list {
  background-color: #181818;
  border-radius: .9735rem;
  width: 80%;
  padding: 1rem 2rem;
  border: 5px solid #e87374;
}

.pr {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pr-ul-c {
  background-color: #181818;
  padding: 1.5rem;
  border-radius: .9735rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  border: 5px solid #e87374;
}

.pr-ul-c-c {
  display: flex;
  justify-content: space-around;
  margin-top: 20px
}

.pr-ul-c ul {
  width: 50%;
}

.v-l-2 {
  border-left: 2px solid #e87374;
  /* Add vertical line */
  height: auto;
  margin-right: 20px;
  /* Adjust spacing between image and line */
}

.pr-ul-c h2 {
  text-decoration: underline;
  text-align: center;
  font-size: 2rem;
}

.pr-ul-c img {
  border-radius: 15px;
  transition: .4s ease-in-out;
}

.pr-ul-c img:hover {
  transform: scale(1.035);
  transition: .4s ease-in-out;
}

.s-s-t {
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
  padding-top: 100px;
  text-align: center;
}

.pr-p-c {
  background-color: #181818;
  padding: 1rem;
  border-radius: .9735rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 5px solid #e87374;
  margin-bottom: 25px;
}

.pr-p-c h2 {
  text-decoration: underline;
  text-align: center;
  font-size: 2rem;
}

.pr-p-c p {
  line-height: 1.5rem;
  text-align: justify;
  background-color: #181818;
  border-radius: 20px;
}

.pr-t-c {
  background-color: #181818;
  padding: 2rem;
  border-radius: .9735rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 60%;
  border: 5px solid #e87374;
}

.pr-t-c h2 {
  text-decoration: underline;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-decoration: underline;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr td:nth-child(2), tr :nth-child(3) {
  text-decoration: underline;
}

.pr-i-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.825rem;
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  width: 75%;
  padding: 1rem;
  margin-bottom: 25px;
}

.pr-i-c img {
  width: calc((100% - 7 * 0.625rem) / 3);
  /* Adjust based on the number of images per row and gap */
  height: 16rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.pr-i-c img:hover {
  transform: scale(1.035);
}

.tp {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tp-p-c {
  background-color: #181818;
  padding: 1rem;
  border-radius: .9735rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 5px solid #e87374;
  margin-bottom: 25px;
}

.tp-p-c hr {
  border: 1px solid #e87374;
  margin: 10px 0px;
  width: 100%;
}

.tp-p-c p {
  line-height: 1.5rem;
  text-align: justify;
  background-color: #181818;
  border-radius: 20px;
  margin-bottom: 10px;
}

.tp-p-c a {
  color: #e87374;
}

.tp-i-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  width: 70%;
  padding: 1rem;
  margin-bottom: 25px;
}

.tp-i-c img {
  width: calc((100% - 10 * 0.625rem) / 3);
  /* Adjust based on the number of images per row and gap */
  height: 16rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.tp-i-c img:hover {
  transform: scale(1.035);
}

.tp-lp-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lp-link {
  padding: 1rem;
  background: #181818;
  border: 5px solid #e87374;
  border-radius: 15px;
  transition: .4s ease-in-out;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 20px;
}

.lp-link:hover {
  transform: translateY(-10px);
  transition: .4s ease-in-out;
}

.tp-c {
  padding-top:100px;
   display: flex;
   justify-content: center;
}

.tp-hi-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  width: 70%;
  padding: 1rem;
  margin-bottom: 25px;
}

.tp-sai-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: .625rem;
}

.tp-sai-c img {
  width: calc((100% - 10 * 0.625rem) / 4);
  /* Adjust based on the number of images per row and gap */
  height: 16rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.tp-sai-c img:hover {
  transform: scale(1.035);
}

.tp-hi-c  h2 {
  margin-bottom: 20px;
  text-decoration: underline;
  text-align: center;
}

@media only screen and (max-width: 1345px) {

  .nav-links .nav-link,
  .nav-links .dd-nav-link {
    font-size: 1rem;
    /* Adjust the font size as needed */
    transition: .4s ease-in-out;
  }

  .nn-link {
    font-size: 2rem;
    transition: .4s ease-in-out;
  }
}

@media only screen and (max-width:500px) {
  .nn-link {
    font-size: 1.5rem;
  }

  .nav-links.active {
    width: 100%;
  }

  .hero-hook {
    font-size: 1.5rem;
  }

  .text-animation {
    font-size: 1rem;
    min-width: none;
  }
}

@media only screen and (max-width:1000px) {
  .hero-text {
    width: 210%;
  }

  .slideshow {
    width: 80%;
  }
}

@media only screen and (max-width: 1550px) {

  .nav-links .nav-link,
  .nav-links .dd-nav-link {
    font-size: 1.23rem;
    /* Adjust the font size as needed */
    transition: .4s ease-in-out;
  }

  .nn-link {
    font-size: 2.3rem;
    transition: .4s ease-in-out;
  }
}