@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Scroll */

::-webkit-scrollbar {
  width: 7px;
  margin-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6A6A6A;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757575;
}


body {
  background-color: #212222;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.navigation {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation.bordered {
  border-bottom: 2px solid #e87374;
}


.nn-link {
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: 700;
}

.nav-highlight {
  color: #e87374;
  text-shadow: 0 0 25px #e87374;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link, .tp-dd, .sl-dd, .pr-dd {
  font-size: 1.38rem;
  text-decoration: none;
  font-weight: 500;
  margin: 0 15px;
  transition: .5s ease-in-out;
}

.pr-dd-c {
  right: 10;
}

.dd-nav-link {
  font-size: 1.38rem;
  text-decoration: none;
  font-weight: 500;
  transition: .5s ease-in-out;
}

.nav-links .nav-link::after {
  content: "";
  background-color: #e87374;
  display: flex;
  width: 100%;
  left: 0%;
  height: 2px;
  transition: transform ease-in-out .5s;
  transform-origin: center;
  transform: scaleX(0);
  position: relative;
}

.nav-links .nav-link:hover, .dd-nav-link:hover {
  color: #e87374;
}

.nav-links .nav-link:hover::after {
  transform: scaleX(1);
}

.sl-dd:hover .sl-dd-c,
.tp-dd:hover .tp-dd-c,
.pr-dd:hover .pr-dd-c {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out;
  /* Updated transition */
  transform: translateY(0);
}

.sl-dd-c,
.tp-dd-c,
.pr-dd-c {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
  transform: translateY(100px);
  transition: 0.4s ease-in-out;
  /* Updated transition */
}


.sl-dd-c a,
.tp-dd-c a,
.pr-dd-c a {
  display: block;
  padding: .625rem;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: normal;
  color: #000;
  /* Adjust as per your design */
  transition: background-color 0.2s ease-in-out;
}

.sl-dd-c a:hover,
.tp-dd-c a:hover,
.pr-dd-c a:hover {
  background-color: #dad6d6;
  /* text-decoration: underline; */
  /* Adjust as per your design */
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  /* Adjust as per your need */
  align-items: center;
  width: 80%;
  margin-top: 30px;
  padding: 0rem 5rem;
  /* Adjust as per your need */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "";
  color: #e87374;
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: #212222;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid #e87374;
  right: -8px;
  animation: cursor .6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  0%, 100% {
    border-left: 3px solid #e87374;
  }

  50% {
    border-left: 3px solid transparent;
  }
}

@keyframes words {
  0%, 20% {
    content: "Educator.";
  }

  21%, 40% {
    content: "Mother Of Three.";
  }

  41%, 60% {
    content: "Previous Daycare Owner.";
  }

  61%, 80% {
    content: "Masters Degree Teacher.";
  }

  81%, 100% {
    content: "Amazing Person.";
  }
}


@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }

  5%, 20%, 25%, 40%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }

}



.hero-left {
  flex: 1;
  padding: 20px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Align items in the center vertically */
}

.hero-img {
  width: 25vw;
  margin-left: 160px;
  border-radius: 50%;
  box-shadow: 0 0 25px #e87374, 0 0 50px #e87374, 0 0 75px #e87374;
  cursor: pointer;
  transition: .4s ease-in-out;
  align-self: center;
  /* Align image in the center horizontally */
  /* animation: bounce 2s 1s infinite; */
}

.hero-left .hero-hook {
  font-size: 3rem;
  white-space: nowrap;
}

/* .hero-left .hero-hook-btm {
  font-size: 1.8rem;
  margin-bottom: 5px;
} Removed */

.highlight {
  color: #e87374;
}

.hero-text {
  line-height: 1.5rem;
  margin-bottom: 15px;
  width: 120%;
}

.hero-btn-container {
  display: flex;
  transform: translateX(-.625rem);
  margin-top: 20px;
}

.hero-btn {
  background-color: #e87374;
  display: flex;
  border: 1px solid transparent;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: 1s;
  touch-action: manipulation;
  width: auto;
  margin-right: .625rem;
  margin-left: .625rem;
  box-shadow: 0 0 25px #e87374;
}

.hero-btn2 {
  background-color: #181818;
  display: flex;
  border-radius: .75rem;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: 1s;
  touch-action: manipulation;
  width: auto;
  margin-right: .625rem;
  margin-left: 30px;
  border: 2px solid #e87374;
  color: #e87374;
}

.avg-btn {
  background-color: #212222;
  display: flex;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: 1s;
  touch-action: manipulation;
  margin: auto;
  border: 2px solid #e87374;
  width: 230px;
  text-decoration: none;
  justify-content: center;
}

.hero-btn:hover, .hero-btn2:hover, .avg-btn:hover {
  transform: translateY(-.625rem);
}


.hero-right {
  flex: 1;
  padding: 20px;
  padding-left: 8rem;
  max-width: 50%;
  /* Adjust as per your need */
}

.hero-img:hover {
  box-shadow: 0 0 25px #e87374, 0 0 50px #e87374, 0 0 75px #e87374, 0 0 100px #e87374, 0 0 125px #e87374, 0 0 150px #e87374;
  transform: translateY(-.625rem);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-.625rem);
  }
}

.hero-scroll {
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 125px;
  font-weight: 600;
  animation: bounce 4s 2s infinite;
  text-shadow: 0 0 .625rem rgba(232, 115, 116, 0.8);
}

.sec-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 50px;
  text-align: center;
}

.about {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideshow {
  width: 800px;
  height: 450px;
  background-color: #181818;
  border-radius: 20px;
  box-shadow: 0 0 25px #e87374;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about-content {
  display: flex;
  justify-content: center;
  /* Center the content horizontally */
  width: 60%;
  margin-top: 100px;
}

.philosophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the content vertically */
}

.p-st {
  font-size: 4rem;
  text-decoration: underline;
  font-weight: 800;
  text-align: center;
}

.p-t-c {
  display: flex;
  justify-content: center;
}

.philosphy-text {
  line-height: 1.5rem;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 90%;
  text-align: center;
  background-color: #181818;
  border-radius: 20px;
  padding: 35px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 232344343431;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000b3;
}

.modal-content {
  background-color: #181818;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  /* Set border radius */
  width: 80%;
  max-width: 750px;
  /* Adjust the maximum width as needed */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: .4s ease-in-out;
}

hr {
  border: 1px solid #d6d3d3;
  margin: 20px
}

.ref {
  /* text-decoration: underline; */
  color: #e87374;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.modal-content ul li {
  margin: 20px;
}

.parents {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-s {
  line-height: 1.5rem;
  margin-bottom: 15px;
  width: 70%;
  text-align: center;
  background-color: #181818;
  border-radius: 20px;
  padding: 35px;

}

.p-s-l {
  /* text-decoration: underline; */
  color: #e87374;
  cursor: pointer;
}

.p-o-i-l {
  border-radius: 20px;
  float: left;
  shape-outside: polygon(0px 0px, 93.37% -0.01%, 91.13% 98.42%, 0.25% 97.42%);
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.p-o-i-r {
  border-radius: 20px;
  float: right;
  shape-outside: polygon(21px 8px, 22.6% -2.2%, 104.18% -0.33%, 98.54% 92.09%, 16.27% 92.67%, 8.72% 84.13%, 3.14% 64.22%);
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.p-t-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
  max-width: 800px;
  /* Adjust max-width as needed */
}

.p-s-t {
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 50px;
}

.p-info {
  display: flex;
  align-items: center;
  /* Center items vertically */
  border: 5px solid #e87374;
  /* Add border */
  padding: 20px;
  background-color: #181818;
  border-radius: 20px;
}

.p-i-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-i-t {
  /* text-align: center; */
  text-decoration: underline;
  font-size: 2rem;
}

.s-a {
  border-radius: .625rem;
  height: 300px;
  /* Adjust height as needed */
  margin-right: 20px;
  /* Add margin for spacing */
  transition: .4s ease-in-out;
}

.s-a:hover {
  transform: scale(1.035);
  transition: .4s ease-in-out;
}

.p-s {
  flex: 1;
  /* Take remaining space */
  font-size: 1.4rem;
  /* Adjust font size as needed */
  line-height: 1;
  /* Adjust line height as needed */
  padding: 15px;
  /* Add padding for spacing */
}

.v-l {
  border-left: 2px solid #e87374;
  /* Add vertical line */
  height: 400px;
  margin-right: 20px;
  /* Adjust spacing between image and line */
}

.ex-s-t {
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 6.25rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

.ex-c {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.ex-l {
  color: #e87374;
}

.ex-1-c {
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  padding: 1rem;
  /* ask about padding */
}

.image-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: .625rem;
  justify-content: center;
}

.img-modal.show {
  display: flex;
  opacity: 1;
  /* Fade in */
}

.image-container img {
  width: 100%;
  /* Take full width of grid cell */
  height: 16rem;
  /* Maintain aspect ratio */
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.035);
}

.img-modal {
  display: none;
  position: fixed;
  z-index: 232344343431;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.i-m-c {
  background-color: #181818;
  border-radius: 15px;
  position: relative;
  height: 85%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 32rem;
}

.img {
  flex: 1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.i-c {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: .625rem;
  right: 20px;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.i-c:hover,
.i-c:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.blurb {
  color: #fff;
  font-size: 1rem;
  background-color: #222;
  padding: .625rem;
  width: 100%;
  align-self: flex-end;
}

.ex-2-c {
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  padding: 1rem;
  width: 30rem;
}

.ex-btm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ex-2-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .625rem;
}

.ex-2-image-container img {
  width: 100%;
  /* Take full width of grid cell */
  height: 16rem;
  /* Maintain aspect ratio */
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.ex-2-image-container img:hover {
  transform: scale(1.035);
}


.sl {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 150px;
}

.sl-s-c {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sl-s-t {
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 6.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sl-s {
  line-height: 1.5rem;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 41%;
  text-align: center;
  background-color: #181818;
  border-radius: 20px;
  padding: 35px;
}

.sl-i-c {
  display: flex;
  justify-content: space-between;
  background-color: #181818;
  border-radius: .9375rem;
  padding: .8rem;
  border: 5px solid #e87374;
  justify-content: space-around;
}

.sl-i-c img {
  transition: 0.3s ease;
  border-radius: 15px;
  width: 41%;
}

.sl-i-c-2 {
  display: flex;
  justify-content: space-between;
  background-color: #181818;
  border-radius: .9375rem;
  padding: .16rem;
  border: 5px solid #e87374;
}

.sl-i-c-2 img {
  transition: 0.3s ease;
  border-radius: 15px;
  width: 27%;
  margin: 1rem;
}

.sl-i-c img:hover, .sl-i-c-2 img:hover {
  transition: 0.3s ease;
  transform: scale(1.035);
}

.sl-slider {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sl-slider {
  background-color: #212222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 300px; */
  /* border: solid 5px #6B7280; */
}


.sl-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 3.75rem;
  margin-top: 6.25rem;
}

.sl-pagination .swiper-pagination-bullet {
  padding: 15px .625rem;
  border-radius: 0;
  width: auto;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 32px;
  font-weight: 500;
  background-color: transparent;
  opacity: 1;
  color: #6B7280;
  transition: ease-in-out .5s;
}

.sl-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  color: #e87374;
  transition: ease-in-out .5s;
}

.index0:after {
  content: '';
  height: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
  background: currentColor;
}

.index1:after {
  content: '';
  height: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
  background: currentColor;
}

.index2:after {
  content: '';
  height: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 2px;
  background: currentColor;
}

.pagination {
  text-decoration: none;
}

.pagination:hover {
  color: #e87374;
  transform: translateY(-.625rem);
}

.sl-slider-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-s-t-2 {
  text-decoration: underline;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 6.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sl-s-s-t {
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 6.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sl-s1-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sl-s1-list {
  background-color: #181818;
  border-radius: .9735rem;
  width: 50%;
  padding: 2rem;
}

.pdf-c {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 40rem; 
  width: 50%;
  margin: auto;
  border-radius: 1rem;
}

.pdf-c embed {
  width: 100%;
  height: 100% !important;
}

.sl-sw-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sw-ig-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  border: 5px solid #e87374;
  background-color: #181818;
  border-radius: 1.25rem;
  width: 70%;
  padding: 1rem;
}

.sw-ig-c img {
  width: calc((100% - 7 * 0.625rem) / 8); /* Adjust based on the number of images per row and gap */
  height: 16rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.sw-ig-c img:hover {
  transform: scale(1.035);
}


.sl-s2-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sl-s2-list {
  background-color: #181818;
  border-radius: .9735rem;
  width: 50%;
  padding: 2rem;
}

.sl-s-t-3 {
  text-decoration: underline;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 6.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sl-s3-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sl-s3-list {
  background-color: #181818;
  border-radius: .9735rem;
  width: 50%;
  padding: 2rem;
}

